/*! CSS Used from: https://spark.bootlab.io/css/modern.css */
*,:after,:before{box-sizing:border-box;}
h1,h5{color:var(--bs-heading-color);font-family:Jost,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;font-weight:500;line-height:1.2;margin-bottom:.5rem;margin-top:0;}
h1{font-size:1.875rem;}
h5{font-size:.9375rem;}
p{margin-bottom:1rem;margin-top:0;}
ol,ul{padding-left:2rem;}
ol,ul{margin-bottom:1rem;margin-top:0;}
small{font-size:80%;}
a{color:rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));text-decoration:none;}
a:hover{--bs-link-color-rgb:var(--bs-link-hover-color-rgb);text-decoration:underline;}
img,svg{vertical-align:middle;}
label{display:inline-block;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;margin:0;}
button,select{text-transform:none;}
select{word-wrap:normal;}
select:disabled{opacity:1;}
[type=submit],button{-webkit-appearance:button; appearance:button;}
[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer;}
textarea{resize:vertical;}
.list-inline{list-style:none;padding-left:0;}
.list-inline-item{display:inline-block;}
.list-inline-item:not(:last-child){margin-right:.5rem;}
.container-fluid{--bs-gutter-x:0.75rem;--bs-gutter-y:0;margin-left:auto;margin-right:auto;padding-left:calc(var(--bs-gutter-x)*.5);padding-right:calc(var(--bs-gutter-x)*.5);width:100%;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-left:calc(var(--bs-gutter-x)*-.5);margin-right:calc(var(--bs-gutter-x)*-.5);margin-top:calc(var(--bs-gutter-y)*-1);}
.row>*{flex-shrink:0;margin-top:var(--bs-gutter-y);max-width:100%;padding-left:calc(var(--bs-gutter-x)*.5);padding-right:calc(var(--bs-gutter-x)*.5);width:100%;}
.col-4{flex:0 0 auto;width:33.33333333%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
@media (min-width:768px){
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-9{flex:0 0 auto;width:75%;}
}
@media (min-width:1200px){
.col-xl-2{flex:0 0 auto;width:16.66666667%;}
.col-xl-10{flex:0 0 auto;width:83.33333333%;}
}
.form-control{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-clip:padding-box;background-color:#fff;border:1px solid var(--bs-border-color);border-radius:var(--bs-border-radius);color:#495057;display:block;font-size:.9375rem;font-weight:400;line-height:1.5;padding:.25rem .7rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;width:100%;}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control:focus{background-color:#fff;border-color:#9dbeee;box-shadow:0 0 0 .25rem rgba(59,125,221,.25);color:#495057;outline:0;}
.form-control::placeholder{color:var(--bs-secondary-color);opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
textarea.form-control{min-height:calc(1.90625rem + 2px);}
.btn{--bs-btn-padding-x:0.7rem;--bs-btn-padding-y:0.25rem;--bs-btn-font-size:0.9375rem;--bs-btn-font-weight:400;--bs-btn-line-height:1.5;--bs-btn-color:var(--bs-body-color);--bs-btn-bg:transparent;--bs-btn-border-width:1px;--bs-btn-border-color:transparent;--bs-btn-border-radius:var(--bs-border-radius);--bs-btn-hover-border-color:transparent;--bs-btn-box-shadow:inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(0,0,0,.075);--bs-btn-disabled-opacity:0.65;--bs-btn-focus-box-shadow:0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb),.5);background-color:var(--bs-btn-bg);border:var(--bs-btn-border-width) solid var(--bs-btn-border-color);border-radius:var(--bs-btn-border-radius);color:var(--bs-btn-color);cursor:pointer;display:inline-block;font-family:var(--bs-btn-font-family);font-size:var(--bs-btn-font-size);font-weight:var(--bs-btn-font-weight);line-height:var(--bs-btn-line-height);padding:var(--bs-btn-padding-y) var(--bs-btn-padding-x);text-align:center;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;-webkit-user-select:none;-moz-user-select:none;user-select:none;vertical-align:middle;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{background-color:var(--bs-btn-hover-bg);border-color:var(--bs-btn-hover-border-color);color:var(--bs-btn-hover-color);text-decoration:none;}
.btn:first-child:active,:not(.btn-check)+.btn:active{background-color:var(--bs-btn-active-bg);border-color:var(--bs-btn-active-border-color);color:var(--bs-btn-active-color);}
.btn:disabled{background-color:var(--bs-btn-disabled-bg);border-color:var(--bs-btn-disabled-border-color);color:var(--bs-btn-disabled-color);opacity:var(--bs-btn-disabled-opacity);pointer-events:none;}
.btn-primary{--bs-btn-color:#000;--bs-btn-bg:#3b7ddd;--bs-btn-border-color:#3b7ddd;--bs-btn-hover-color:#000;--bs-btn-hover-bg:#5891e2;--bs-btn-hover-border-color:#4f8ae0;--bs-btn-focus-shadow-rgb:50,106,188;--bs-btn-active-color:#000;--bs-btn-active-bg:#6297e4;--bs-btn-active-border-color:#4f8ae0;--bs-btn-active-shadow:inset 0 3px 5px rgba(0,0,0,.125);--bs-btn-disabled-color:#000;--bs-btn-disabled-bg:#3b7ddd;--bs-btn-disabled-border-color:#3b7ddd;}
.fade{transition:opacity .15s linear;}
@media (prefers-reduced-motion:reduce){
.fade{transition:none;}
}
.fade:not(.show){opacity:0;}
.dropdown{position:relative;}
.dropdown-menu{--bs-dropdown-zindex:1000;--bs-dropdown-min-width:10rem;--bs-dropdown-padding-x:0;--bs-dropdown-padding-y:0.5rem;--bs-dropdown-spacer:0.125rem;--bs-dropdown-font-size:0.9375rem;--bs-dropdown-color:var(--bs-body-color);--bs-dropdown-bg:var(--bs-body-bg);--bs-dropdown-border-color:var(--bs-border-color-translucent);--bs-dropdown-border-radius:var(--bs-border-radius);--bs-dropdown-border-width:var(--bs-border-width);--bs-dropdown-inner-border-radius:calc(var(--bs-border-radius) - var(--bs-border-width));--bs-dropdown-divider-bg:var(--bs-border-color-translucent);--bs-dropdown-divider-margin-y:0.5rem;--bs-dropdown-box-shadow:0 0 2rem 0 rgba(0,0,0,.05);--bs-dropdown-link-color:#495057;--bs-dropdown-link-hover-color:#495057;--bs-dropdown-link-hover-bg:#f8f9fa;--bs-dropdown-link-active-color:#fff;--bs-dropdown-link-active-bg:#3b7ddd;--bs-dropdown-link-disabled-color:var(--bs-tertiary-color);--bs-dropdown-item-padding-x:1.5rem;--bs-dropdown-item-padding-y:0.35rem;--bs-dropdown-header-color:#6c757d;--bs-dropdown-header-padding-x:1.5rem;--bs-dropdown-header-padding-y:0.5rem;background-clip:padding-box;background-color:var(--bs-dropdown-bg);border:var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);border-radius:var(--bs-dropdown-border-radius);color:var(--bs-dropdown-color);display:none;font-size:var(--bs-dropdown-font-size);list-style:none;margin:0;min-width:var(--bs-dropdown-min-width);padding:var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);position:absolute;text-align:left;z-index:var(--bs-dropdown-zindex);}
.dropdown-menu-end{--bs-position:end;}
.dropdown-item{background-color:transparent;border:0;border-radius:var(--bs-dropdown-item-border-radius,0);clear:both;color:var(--bs-dropdown-link-color);display:block;font-weight:400;padding:var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);text-align:inherit;white-space:nowrap;width:100%;}
.dropdown-item:focus,.dropdown-item:hover{background-color:var(--bs-dropdown-link-hover-bg);color:var(--bs-dropdown-link-hover-color);text-decoration:none;}
.dropdown-item:active{background-color:var(--bs-dropdown-link-active-bg);color:var(--bs-dropdown-link-active-color);text-decoration:none;}
.dropdown-item:disabled{background-color:transparent;color:var(--bs-dropdown-link-disabled-color);pointer-events:none;}
.tab-content>.tab-pane{display:none;}
.tab-content>.active{display:block;}
.card{--bs-card-spacer-y:1.25rem;--bs-card-spacer-x:1.25rem;--bs-card-title-spacer-y:0.5rem;--bs-card-border-width:0px;--bs-card-border-color:var(--bs-border-color-translucent);--bs-card-border-radius:0.2rem;--bs-card-inner-border-radius:0.2rem;--bs-card-cap-padding-y:0.75rem;--bs-card-cap-padding-x:1.25rem;--bs-card-cap-bg:#fff;--bs-card-bg:#fff;--bs-card-img-overlay-padding:1rem;--bs-card-group-margin:0.75rem;word-wrap:break-word;background-clip:border-box;background-color:var(--bs-card-bg);border:var(--bs-card-border-width) solid var(--bs-card-border-color);border-radius:var(--bs-card-border-radius);color:var(--bs-body-color);display:flex;flex-direction:column;height:var(--bs-card-height);min-width:0;position:relative;}
.card>.list-group{border-bottom:inherit;border-top:inherit;}
.card>.list-group:last-child{border-bottom-left-radius:var(--bs-card-inner-border-radius);border-bottom-right-radius:var(--bs-card-inner-border-radius);border-bottom-width:0;}
.card>.card-header+.list-group{border-top:0;}
.card-body{color:var(--bs-card-color);flex:1 1 auto;padding:var(--bs-card-spacer-y) var(--bs-card-spacer-x);}
.card-title{color:var(--bs-card-title-color);margin-bottom:var(--bs-card-title-spacer-y);}
.card-header{background-color:var(--bs-card-cap-bg);border-bottom:var(--bs-card-border-width) solid var(--bs-card-border-color);color:var(--bs-card-cap-color);margin-bottom:0;padding:var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);}
.card-header:first-child{border-radius:var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;}
.breadcrumb{--bs-breadcrumb-padding-x:0rem;--bs-breadcrumb-padding-y:0rem;--bs-breadcrumb-margin-bottom:1rem;--bs-breadcrumb-bg:transparent;--bs-breadcrumb-divider-color:#ced4da;--bs-breadcrumb-item-padding-x:0.5rem;--bs-breadcrumb-item-active-color:#fff;background-color:var(--bs-breadcrumb-bg);border-radius:var(--bs-breadcrumb-border-radius);display:flex;flex-wrap:wrap;font-size:var(--bs-breadcrumb-font-size);list-style:none;margin-bottom:var(--bs-breadcrumb-margin-bottom);padding:var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);}
.breadcrumb-item+.breadcrumb-item{padding-left:var(--bs-breadcrumb-item-padding-x);}
.breadcrumb-item+.breadcrumb-item:before{color:var(--bs-breadcrumb-divider-color);content:var(--bs-breadcrumb-divider,"/");float:left;padding-right:var(--bs-breadcrumb-item-padding-x);}
.breadcrumb-item.active{color:var(--bs-breadcrumb-item-active-color);}
.list-group{--bs-list-group-color:var(--bs-body-color);--bs-list-group-bg:#fff;--bs-list-group-border-color:var(--bs-border-color);--bs-list-group-border-width:var(--bs-border-width);--bs-list-group-border-radius:var(--bs-border-radius);--bs-list-group-item-padding-x:1.25rem;--bs-list-group-item-padding-y:0.75rem;--bs-list-group-action-color:var(--bs-secondary-color);--bs-list-group-action-hover-color:var(--bs-emphasis-color);--bs-list-group-action-hover-bg:var(--bs-tertiary-bg);--bs-list-group-action-active-color:var(--bs-body-color);--bs-list-group-action-active-bg:var(--bs-secondary-bg);--bs-list-group-disabled-color:var(--bs-secondary-color);--bs-list-group-disabled-bg:#fff;--bs-list-group-active-color:#fff;--bs-list-group-active-bg:#3b7ddd;--bs-list-group-active-border-color:#3b7ddd;border-radius:var(--bs-list-group-border-radius);display:flex;flex-direction:column;margin-bottom:0;padding-left:0;}
.list-group-item-action{color:var(--bs-list-group-action-color);text-align:inherit;width:100%;}
.list-group-item-action:focus,.list-group-item-action:hover{background-color:var(--bs-list-group-action-hover-bg);color:var(--bs-list-group-action-hover-color);text-decoration:none;z-index:1;}
.list-group-item-action:active{background-color:var(--bs-list-group-action-active-bg);color:var(--bs-list-group-action-active-color);}
.list-group-item{background-color:var(--bs-list-group-bg);border:var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);color:var(--bs-list-group-color);display:block;padding:var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);position:relative;}
.list-group-item:first-child{border-top-left-radius:inherit;border-top-right-radius:inherit;}
.list-group-item:last-child{border-bottom-left-radius:inherit;border-bottom-right-radius:inherit;}
.list-group-item:disabled{background-color:var(--bs-list-group-disabled-bg);color:var(--bs-list-group-disabled-color);pointer-events:none;}
.list-group-item.active{background-color:var(--bs-list-group-active-bg);border-color:var(--bs-list-group-active-border-color);color:var(--bs-list-group-active-color);z-index:2;}
.list-group-item+.list-group-item{border-top-width:0;}
.list-group-flush{border-radius:0;}
.list-group-flush>.list-group-item{border-width:0 0 var(--bs-list-group-border-width);}
.list-group-flush>.list-group-item:last-child{border-bottom-width:0;}
.align-middle{vertical-align:middle!important;}
.float-end{float:right!important;}
.d-inline-block{display:inline-block!important;}
.mt-2{margin-top:.5rem!important;}
.me-1{margin-right:.25rem!important;}
.mb-0{margin-bottom:0!important;}
.mb-3{margin-bottom:1rem!important;}
.text-start{text-align:left!important;}
.text-end{text-align:right!important;}
.text-center{text-align:center!important;}
.text-muted{--bs-text-opacity:1;color:var(--bs-secondary-color)!important;}
.rounded-circle{border-radius:50%!important;}
.breadcrumb-item a{color:#dee2e6;font-weight:400;}
.breadcrumb-item.active{color:#fff;font-weight:500;}
.btn-primary,.btn-primary:disabled,.btn-primary:focus,.btn-primary:hover:not(:disabled):not(.disabled),.btn-primary:not(:disabled):not(.disabled):active{color:#fff;}
.card{box-shadow:0 2px 4px rgba(126,142,177,.12);margin-bottom:1.5rem;}
.card-header{background:transparent;}
.card-body{padding-top:.75rem;}
.card-title{color:#3e4676;font-size:.9375rem;line-height:1.5;}
.card-actions a{color:#3e4676;text-decoration:none;}
.card-actions svg{height:16px;width:16px;}
.card-actions .dropdown{line-height:1.4;}
.content{flex:1;margin-top:3rem;padding:0 .5rem;}
@media (min-width:992px){
.content{padding:0 1.5rem;}
}
.dropdown-item{transition:background .1s ease-in-out,color .1s ease-in-out;}
.feather{height:16px;width:16px;}
.footer{padding:1rem .5rem;}
@media (min-width:992px){
.footer{padding:1rem 1.5rem;}
}
.footer ul{margin-bottom:0;}
@media (min-width:1440px){
.container-fluid{width:95%;}
}
.header{margin-bottom:3rem;position:relative;}
.header-title{color:#fff;font-size:1.640625rem;}
.main{display:flex;flex-direction:column;min-height:100vh;min-width:0;transition:margin-left .3s ease-in-out,left .3s ease-in-out,margin-right .3s ease-in-out,right .3s ease-in-out;width:100%;}
@media (max-width:767.98px){
.main{min-width:100vw;overflow-y:hidden;width:100vw;}
}
@media (max-width:575.98px){
.dropdown{position:inherit;}
}
.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto;}
.fas{font-family:Font Awesome\ 6 Free;}
.fa-upload:before{content:"ï‚“";}
.fas{font-weight:900;}
svg{touch-action:none;}
/*! CSS Used fontfaces */
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-100.ttf") format("truetype");font-weight:100;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-200.ttf") format("truetype");font-weight:200;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-300.ttf") format("truetype");font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-400.ttf") format("truetype");font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-500.ttf") format("truetype");font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-600.ttf") format("truetype");font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-700.ttf") format("truetype");font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-800.ttf") format("truetype");font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-900.ttf") format("truetype");font-weight:900;font-style:normal;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-100-Italic.ttf") format("truetype");font-weight:100;font-style:italic;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-200-Italic.ttf") format("truetype");font-weight:200;font-style:italic;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-300-Italic.ttf") format("truetype");font-weight:300;font-style:italic;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-400-Italic.ttf") format("truetype");font-weight:400;font-style:italic;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-500-Italic.ttf") format("truetype");font-weight:500;font-style:italic;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-600-Italic.ttf") format("truetype");font-weight:600;font-style:italic;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-700-Italic.ttf") format("truetype");font-weight:700;font-style:italic;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-800-Italic.ttf") format("truetype");font-weight:800;font-style:italic;font-display:swap;}
@font-face{font-family:"Jost";src:url("https://indestructibletype.com/fonts/Jost-900-Italic.ttf") format("truetype");font-weight:900;font-style:italic;font-display:swap;}
@font-face{font-display:block;font-family:Font Awesome\ 6 Free;font-style:normal;font-weight:400;src:url(https://spark.bootlab.io/fonts/fa-regular-400.woff2) format("woff2"),url(https://spark.bootlab.io/fonts/fa-regular-400.ttf) format("truetype");}
@font-face{font-display:block;font-family:Font Awesome\ 6 Free;font-style:normal;font-weight:900;src:url(https://spark.bootlab.io/fonts/fa-solid-900.woff2) format("woff2"),url(https://spark.bootlab.io/fonts/fa-solid-900.ttf) format("truetype");}